html {
    background-color: #23272a;
}

body {
    position: relative;
    width: 80%;
    height: 80%;
    left: 10%;
}

p, a {
    font-size: 18px;
}

a {text-decoration: underline; font-family: 'JetBrains Mono', sans-serif}

#back {font-size: 14px}