@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    opacity: 100%;
}

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100vw;
}

html::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

body {
    margin: 0;
    max-width: 100vw;
}

h1 {
    font-family: 'JetBrains Mono', sans-serif;
    color: white;
    margin: 0;
}

p {
    font-family: 'JetBrains Mono', sans-serif;
    color: white;
    margin: 0;
    font-size: 22px;
}

.div {
    position: relative;
    margin: 0;
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.btn_up {
    background-image: url("./img/button_up.png");

    position: absolute;
    top: 30px;
    height: 50px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.btn_down {
    background-image: url("./img/button_down.png");

    position: absolute;
    bottom: 30px;
    height: 50px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.fade_out_left {
    opacity: 0;
    transform: translateX(-50px);
}

.fade_out_right {
    opacity: 0;
    transform: translateX(50px);
}

.fade_out_down {
    margin-top: 50px;
    opacity: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.back1 {
    background-image: url("./img/background1.jpg");
}

.back2 {
    background-image: url("./img/background2.jpg");
}

.back3 {
    background-image: url("./img/background3.jpg");
}

.back4 {
    background-image: url("./img/background4.jpg");
}

.texthead_left {
    position: relative;
    left: 50px;
    top: 25%;
    transition: all 1s ease-out;
    width: 50%;
}

.texthead_right {
    position: relative;
    right: 50px;
    margin-left: auto;
    text-align: right;
    top: 25%;
    transition: all 1s ease-out;
    width: 50%;
}

.text_left {
    position: relative;
    left: 50px;
    top: 35%;
    width: 600px;
    transition: all 1s ease-out;
}

.text_right {
    position: relative;
    right: 50px;
    float: right;
    text-align: right;
    top: 35%;
    width: 600px;
    transition: all 1s ease-out;
}

.back1_logo {
    width: 450px;
    height: 120px;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.back1 h1 {
    position: relative;
    text-align: center;
    top: 45%;
    font-size: 40px;
    transform: translateY(-50%);
    line-height: 55px;
    transition: all 1s ease-in-out;
}

.back4 a {
    font-family: 'JetBrains Mono', sans-serif;
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.imprint {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    background-color: #23272a;
}

.imprint p, a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 30%;
    transform: translateY(-50%);
}